<span>{{ i18n "share" }} </span>

<div class="share-buttons">
    <div class="facebook" title="Share on Facebook" onclick="window.open('http://www.facebook.com/share.php?u=https:{{ .Permalink }}');">
        <img class="icon" src="{{ .Site.BaseURL }}/img/facebook.svg" alt="Facebook" />
    </div>
    <div class="twitter" title="Share on Twitter" onclick="window.open('http://twitter.com/home?status=https:{{ .Permalink }}');">
        <img class="icon" src="{{ .Site.BaseURL }}/img/twitter.svg" alt="Twitter" />
    </div>
    <div class="linkedin" title="Share on Linkedin" onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url=https:{{ .Permalink }}&title=&summary=&source=');">
        <img class="icon" src="{{ .Site.BaseURL }}/img/linkedin.svg" alt="Linkedin" />
    </div>
    <div class="email" title="Share through Email" onclick="window.open('mailto:?&body=https:{{ .Permalink }}');">
        <img class="icon" src="{{ .Site.BaseURL }}/img/email.svg" alt="Email" />
    </div>
</div>